<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
	    <meta charset="UTF-8" />
	    <title>中大八院病历病案首页编辑</title>
	   	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	   	
	   	<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/stylet.css" />
		<script src="js/Ecalendar.jquery.min.js"></script>

	   	<script type="text/javascript" src="js/jquery.min.js"></script>
	    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
		<script type="text/javascript" src="../jedate/jedate.js"></script>
		<script type="text/javascript" src="../jedate/jedate1.js"></script>
	    <style>
	    	.a{
	    		border-radius:5px;
	    	}
	    	.datainp{ width:150px; height:20px; border:1px #ccc solid;border-radius:5px;}
			.sty{
				height:100%;
				overflow:hidden;
				margin-left: 30%;
			}
			#sub{
				left: 400px;
			}
			hr{
				width: 0%;
			}
		</style>
	</head>
	<body style="background: burlywood;">
	    <div id="medical">
			<div id="mcont" class="sty ">
					<form action="/" method="post" id="form_a">
						<div class="">
							<div class="">
								<br /><br />
								<li style="font-size: 50px;margin-left:300px">病历首页</li><br /><br />
								<br /><br />
								健康卡号：<input type="text" class="a " style="width: 100px; height: 20px" name="card_health" placeholder="健康卡号" th:value="${datam.card_health}" />
								&nbsp;&nbsp;&nbsp;
								第：<input type="text" class="a " style="width: 50px; height: 20px" maxlength="3" name="times_hospitalized"/>
								次住院 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								病案号：<input type="text" class="a " style="width: 100px; height: 20px" placeholder="病案号" name="card_medical" th:value="${datam.card_medical}"/>
							</div><br /><hr/><br /><br />
							<div class="">
								姓名：<input type="text" class="a " style="width: 100px; height: 20px" placeholder="姓名" name="name" th:value="${datam.name}"/>
								性别：<input type="text" class="a "style="width: 100px; height: 20px" placeholder="性别" name="sex" th:value="${datam.sex}"/>
								出生日期：<input class="datainp" id="datebut" type="text" placeholder="请选择"  readonly="" style="width: 100px; height: 20px"
											onClick="jeDate({dateCell:'#datebut',isTime:true,format:'YYYY-MM-DD'})" name="birthday" th:value="${#dates.format(datam.birthday)}"/>
								年龄：<input type="text" class="a " style="width: 100px; height: 20px" name="age" th:value=${datam.age}/>岁
								国籍：<input type="text" class="a " style="width: 100px; height: 20px" name="nationality" th:value=${datam.nationality}/><br /><br />
								民族：<input type="text" class="a " style="width: 100px; height: 20px" name="volk" th:value=${datam.volk}/>
								出生体重：<input type="text" class="a " style="width: 100px; height: 20px" name="" />
								入院体重：<input type="text" class="a " style="width: 100px"name="" />
								出生省：<input type="text" class="a " style="width: 100px"  name="homeplace_province" th:value=${datam.homeplace_province}/>
								出生市：<input type="text" class="a " style="width: 100px"  name="homeplace_city" th:value=${datam.homeplace_city}/>
								出生县：<input type="text" class="a " style="width: 100px"  name="homeplace_county" th:value=${datam.homeplace_county}/>
								籍贯：<input type="text" class="a " style="width: 100px" name="native_place" th:value=${datam.native_place} />
							</div><br />
							<div class="">
								身份证号：<input type="text" class="a " style="width: 100px" name="card_id" th:value=${datam.card_id}/>
								职业：<input type="text" class="a " style="width: 100px" name="vocation" th:value=${datam.vocation}/>
								婚姻：<select id="marry" name="marriage" class="a " style="width: 60px" th:value=${datam.marriage}>
								<option>未婚</option>
								<option>已婚</option>
								<option>丧偶</option>
								<option>离婚</option>
								<option>其他</option>
							</select>
								现住址：<input type="text" class="a " style="width: 100px" name="present_address" th:value=${datam.present_address}/>
								电话：<input type="text" class="a " style="width: 100px" name="phone" th:value=${datam.phone}/>
								邮编：<input type="text" class="a " style="width: 100px"name="address_code" th:value=${datam.address_code}/><br /><br />
								户口地址：<input type="text" class="a " style="width: 100px"name="residence" th:value=${datam.residence}/>
								邮编：<input type="text" class="a " style="width: 100px"name="residence_code" th:value=${datam.residence_code}/>
							</div><br /><hr/><br /><br />
							<div>
								工作单位及地址：<input type="text" class="a " style="width: 100px" name="work_unit_address" th:value=${datam.work_unit_address}/>
								单位电话：<input type="text" class="a " style="width: 100px" name="work_unit_phone" th:value=${datam.work_unit_phone}/>
								邮编：<input type="text" class="a " style="width: 100px" name="work_unit_code" th:value=${datam.work_unit_code}/>
								联系人电话：<input type="text" class="a " style="width: 100px" name="linkman_name" th:value=${datam.linkman_name}/>
								关系：<input type="text" class="a " style="width: 100px" name="linkman_relation" th:value=${datam.linkman_relation}/><br /><br />
								地址：<input type="text" class="a " style="width: 100px" name="linkman_address" th:value=${datam.linkman_address}/>
								电话：<input type="text" class="a " style="width: 100px" name="linkman_phone" th:value=${datam.linkman_phone}/>
								入院途径：
								<select name="hospitalized_road" class="a " style="width: 100px" th:value=${datam.hospitalized_road}>
									<option>急诊</option>
									<option>门诊</option>
									<option>其他医疗机构转入</option>
									<option>其他</option>
								</select>
								病人来源：
								<select name="patient_source" class="a " style="width: 100px" th:value=${datam.patient_source}>
									<option>急诊</option>
									<option>门诊</option>
									<option>其他医疗机构转入</option>
									<option>其他</option>
								</select>
							</div><br /><hr/><br /><br />
							<div>
								入院日期：<input class="datainp" id="datebut1" type="text" placeholder="请选择"  readonly=""
											onClick="jeDate({dateCell:'#datebut1',isTime:true,format:'YYYY-MM-DD'})" name="hospitalized_day" th:value=${#dates.format(datam.hospitalized_day)}/>
								入院科别：<input type="text" class="a " style="width: 100px" name="hospitalized_category" th:value=${datam.hospitalized_category}/>
								病房：<input type="text" class="a " style="width: 100px" name="hospitalized_ward" th:value=${datam.hospitalized_ward}/>
								转科：<input class="datainp" id="datebut4" type="text" placeholder="请选择"  readonly=""
										  onClick="jeDate({dateCell:'#datebut4',isTime:true,format:'YYYY-MM-DD'})" name="change_time" th:value=${#dates.format(datam.volk)}/>
								转：<input type="text" class="a " style="width: 100px" name="change_ward" th:value=${datam.change_ward}/><br /><br />
								出院日期：<input class="datainp" id="datebut3" type="text" placeholder="请选择"  readonly=""
											onClick="jeDate({dateCell:'#datebut3',isTime:true,format:'YYYY-MM-DD'})" name="leave_hospital_day" th:value=${#dates.format(datam.volk)}/>
								出院科别：<input type="text" class="a " style="width: 100px" name="leave_hospital_category" th:value=${datam.leave_hospital_category}/><br /><br />
								病房：<input type="text" class="a " style="width: 100px"name="leave_hospital_ward" th:value=${datam.leave_hospital_ward}/>
								实际住院：<input type="text" class="a " style="width: 100px" name="real_hospitalization_day" th:value=${datam.real_hospitalization_day}/><br /><br />
								门（急）诊诊断：<input type="text" class="a " style="width: 100px"name="clinic_diagnosis" th:value=${datam.clinic_diagnosis}/>
								疾病编码：<input type="text" class="a " style="width: 100px" name="disease_coding" th:value=${datam.disease_coding}/>
								门（急）诊医生：<input type="text" class="a " style="width: 100px"name="outpatient_doctor" th:value=${datam.outpatient_doctor}/>
							</div><br /><hr/><br /><br />
							<div>
								主要诊断：<input type="text" class="a " style="width: 100px" name="main_diagnosis" th:value=${datam.main_diagnosis}/>
								诊断编码：<input type="text" class="a " style="width: 100px" name="main_disease_coding" th:value=${datam.main_disease_coding}/>
								入院病情：<input type="text" class="a " style="width: 100px" name="main_diagnosis_state" th:value=${datam.main_diagnosis_state}/>
								其他诊断：<input type="text" class="a " style="width: 100px" name="other_diagnosis" th:value=${datam.other_diagnosis}/><br /><br />
								诊断编码：<input type="text" class="a " style="width: 100px" name="other_diagnosis_coding" th:value=${datam.other_diagnosis_coding}/>
								入院病情：<input type="text" class="a " style="width: 100px" name="other_diagnosis_state" th:value=${datam.other_diagnosis_state}/>
							</div><br /><hr/><br /><br />
							<div>
								病历分型：
								<select name="case_classification" class="a " style="width: 100px" th:value=${datam.case_classification}>
									<option>一般</option>
									<option>急</option>
									<option>疑难</option>
									<option>危重</option>
								</select>
								临床路径病历：
								<select name="clinical_pathway_cases" class="a " style="width: 100px" th:value=${datam.clinical_pathway_cases}>
									<option>是</option>
									<option>否</option>
								</select>
								抢救次数：<input type="text" class="a " style="width: 100px" name="rescue_times" th:value=${datam.rescue_times}/>
								成功次数：<input type="text" class="a " style="width: 100px" name="success_times" th:value=${datam.success_times}/>
							</div><br /><hr/><br /><br />
							<div>
								损伤、中毒的外部原因：<input type="text" class="a " style="width: 100px" name="external_causes" th:value=${datam.external_causes}/>
								疾病编码：<input type="text" class="a " style="width: 100px" name="external_causes_coding" th:value=${datam.external_causes_coding}/>
							</div><br />
							<div>
								病历诊断：<input type="text" class="a " style="width: 100px" name="pathologic_diagnosis" th:value=${datam.pathologic_diagnosis}/>
								病理号：<input type="text" class="a " style="width: 100px" name="pathological_number"th:value=${datam.pathological_number}/>
								疾病编码：<input type="text" class="a " style="width: 100px" name="pathologic_diagnosis_coding" th:value=${datam.pathologic_diagnosis_coding}/>
							</div><br /><hr/><br /><br />
							<div>
								诊断符合情况
								1、门诊与出院：
								<select name="outpatient_discharge_accord" class="a " style="width: 100px" th:value=${datam.outpatient_discharge_accord}>
									<option>符合</option>
									<option>不符合</option>
									<option>不肯定</option>
								</select>
								2、临床与病理：
								<select name="clinical_pathological" class="a " style="width: 100px" th:value=${datam.clinical_pathological}>
									<option>符合</option>
									<option>不符合</option>
									<option>不肯定</option>
								</select>
							</div><br /><hr/><br /><br />
							<div>
								药物过敏：
								<select name="drug_allergy" class="a " style="width: 100px" th:value=${datam.drug_allergy}>
									<option>无</option>
									<option>有</option>
								</select>
								过敏药物：<input type="text" class="a " style="width: 100px" name="drug_allergy_name" th:value=${datam.drug_allergy_name}/>
								死亡患者尸检：
								<select name="autopsy" class="a " style="width: 100px" th:value=${datam.autopsy}>
									<option>是</option>
									<option>否</option>
								</select>
							</div><br /><hr/><br /><br />
							<div>
								血型：
								<select name="blood_type" class="a " style="width: 100px" th:value=${datam.blood_type}>
									<option>A</option>
									<option>B</option>
									<option>O</option>
									<option>AB</option>
									<option>不详</option>
									<option>未查</option>
								</select>
								Rh：
								<select name="Rh" class="a " style="width: 100px" th:value=${datam.Rh}>
									<option>阴</option>
									<option>阳</option>
									<option>不详</option>
									<option>未查</option>
								</select>
							</div><br /><hr/><br /><br />
							<div>
								科主任：<input type="text" class="a " style="width: 100px" name="head_department" th:value=${datam.head_department}/>
								主（主任）任医师：<input type="text" class="a " style="width: 100px" name="protomedicus" th:value=${datam.protomedicus}/>
								主治医师：<input type="text" class="a " style="width: 100px" name="visiting_staff" th:value=${datam.visiting_staff}/>
								住院医师：<input type="text" class="a " style="width: 100px" name="resident" th:value=${datam.resident}/>
							</div><br /><hr/><br /><br />
							<div>
								责任护士：<input type="text" class="a " style="width: 100px" name="primary_nurse" th:value=${datam.primary_nurse}/>
								进修医师：<input type="text" class="a " style="width: 100px" name="refresher_physician" th:value=${datam.refresher_physician}/>
								实习医师：<input type="text" class="a " style="width: 100px" name="intern" th:value=${datam.intern}/>
								编码员：<input type="text" class="a " style="width: 100px" name="coder" th:value=${datam.coder}/>
							</div><br /><hr/><br /><br />
							<div>
								病案质量：
								<select name="medical_record_quality" class="a " style="width: 100px" th:value=${datam.medical_record_quality}>
									<option>甲</option>
									<option>乙</option>
								</select>
								质控医师：<input type="text" class="a " style="width: 100px" name="quality_control_physician" th:value=${datam.quality_control_physician}/>
								质控护士：<input type="text" class="a " style="width: 100px" name="quality_control_nurse" th:value=${datam.quality_control_nurse}/>
								质控日期：<input class="datainp" id="datebut2" type="text" placeholder="请选择"  readonly=""
											onClick="jeDate({dateCell:'#datebut2',isTime:true,format:'YYYY-MM-DD'})" name="quality_control_date" th:value=${#dates.format(datam.quality_control_date)}/>
							</div><br /><br /><br /><br />
							<div id="sub">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<input type="submit" style="height:30px;width:50px; margin-left: 50px" value="提交"/>
								<input type="reset" style="height:30px;width:50px; margin-left: 300px" value="重置"/>
							</div><br /><br />
						</div>
					</form>
			</div>
			<div id="hosp" class="sty ">
				<br /><br /><br />
				<li style="font-size: 50px;margin-left:150px">入院记录</li><br /><br /><br /><br />
				<form action="/addHospitalized" method="post" role="form" id="form_b">
					<div>
						病案号：<input type="text" class="a " style="width: 100px; height: 20px" name="card_medical" th:value="${datahosp.card_medical}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						记录日期：<input  name="record_day" class="datainp" id="datebut9" type="text" placeholder="请选择"  readonly="" style="width: 100px; height: 20px"
									 onClick="jeDate({dateCell:'#datebut9',isTime:true,format:'YYYY-MM-DD'})" th:value="${#dates.format(datahosp.record_day)}"	/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						病史陈诉者：<input  name="history_statement" type="text" class="a " style="width: 100px; height: 20px" th:value="${datahosp.history_statement}"/>
					</div><br /><br />
					<div>
						主诉：<textarea  name="main_suit" type="text" class="a " style="height:50px; width: 350px" th:value="${datahosp.main_suit}"></textarea>
					</div><br /><br />
					<div>
						现病史：<textarea  name="present_illness_history" type="text" class="a " style="height:50px; width: 350px" th:value="${datahosp.present_illness_history}"></textarea>
					</div><br /><br />
					<div>
						既往史：<textarea  name="anamnesis" type="text" class="a " style="height:50px; width: 350px" th:value="${datahosp.anamnesis}"></textarea>
					</div><br /><br />
					<div>
						个人史：<textarea  name="personal_history" type="text" class="a " style="height:50px; width: 350px" th:value="${datahosp.personal_history}"></textarea>
					</div><br /><br />
					<div>
						婚育史：<textarea  name="obsterical_history" type="text" class="a " style="height:50px; width: 350px" th:value="${datahosp.obsterical_history}"></textarea>
					</div><br /><br />
					<div>
						家族史：<textarea  name="family_history" type="text" class="a " style="height:50px; width: 350px" th:value="${datahosp.family_history}"></textarea>
					</div><br /><br />
					<p style="margin-left: 250px">体格检查</p><br /><br />
					<div>

						体温：<input  name="temperature" type="text" class="a " style="width: 100px; height: 20px" th:value="${datahosp.temperature}"/>
						呼吸：<input  name="pulse" ype="text" class="a " style="width: 100px; height: 20px" th:value="${datahosp.pulse}"/>
						脉搏：<input  name="breathe" type="text" class="a " style="width: 100px; height: 20px" th:value="${datahosp.breathe}"/>
						血压：<input  name="blood_pressure" type="text" class="a " style="width: 100px; height: 20px" th:value="${datahosp.blood_pressure}"/>
						体重：<input  name="weight" type="text" class="a " style="width: 100px; height: 20px" th:value="${datahosp.weight}"/>
					</div><br /><hr/><br /><br />
					<div>
						一般情况：<textarea  name="general_condition" type="text" class="a " style="height:56px; width: 250px; margin-right: 50px" th:value="${datahosp.general_condition}"></textarea>
						皮肤黏膜：<textarea  name="skin_mucosa" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.skin_mucosa}"></textarea>
					</div><br /><br />

					<div>&nbsp;&nbsp;&nbsp;
						淋巴结：<textarea  name="lymphaden" type="text" class="a " style="height:56px; width: 250px; margin-right: 70px" th:value="${datahosp.lymphaden}"></textarea>
						头部：<textarea  name="head" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.head}"></textarea>
					</div><br /><br />

					<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						颈部：<textarea  name="neck" type="text" class="a " style="height:56px; width: 250px; margin-right: 70px;" th:value="${datahosp.neck}"></textarea>
						胸部：<textarea  name="chest" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.chest}"></textarea>
					</div><br /><br />

					<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						腹部：<textarea  name="belly" type="text" class="a " style="height:56px; width: 250px; margin-right: 40px" th:value="${datahosp.belly}"></textarea>
						肛门生殖器：<textarea  name="anal_genitalia" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.anal_genitalia}"></textarea>
					</div><br /><br />

					<div>
						脊柱四肢：<textarea  name="spine" type="text" class="a " style="height:56px; width: 250px; margin-right: 30px" th:value="${datahosp.spine}"></textarea>
						神经生理反射：<textarea  name="reflex" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.reflex}"></textarea>
					</div><br /><br />
					<p style="margin-left: 250px">专科情况</p><br />
					<div>
						<textarea  name="special_case" type="text" class="a " style="height:70px; width: 500px" th:value="${datahosp.special_case}"></textarea>
					</div><br /><br />
					<p style="margin-left: 250px">辅助检查</p><br />
					<div>
						<textarea  name="accessory" type="text" class="a " style="height:70px; width: 500px" th:value="${datahosp.accessory}"></textarea>
					</div><br /><br />
					<div>
						修正诊断：<textarea  name="modified_diagnosis" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.modified_diagnosis}"></textarea>
						签名：<input  name="modified_diagnosis_name" type="text" class="a " style="width: 100px" th:value="${datahosp.modified_diagnosis_name}"/>
						日期：<input  name="modified_diagnosis_day" class="datainp" id="datebut5" type="text" placeholder="请选择"  readonly=""
								   onClick="jeDate({dateCell:'#datebut5',isTime:true,format:'YYYY-MM-DD'})" th:value="${#dates.format(datahosp.modified_diagnosis_day)}"/>
					</div><br /><hr/><br /><br />
					<div>
						初步诊断：<textarea  name="tentative_diagnosis" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.tentative_diagnosis}"></textarea>
						签名：<input  name="tentative_diagnosis_name" type="text" class="a " style="width: 100px" th:value="${datahosp.tentative_diagnosis_name}"/>
						日期：<input  name="tentative_diagnosis_day" class="datainp" id="datebut6" type="text" placeholder="请选择"  readonly=""
								   onClick="jeDate({dateCell:'#datebut6',isTime:true,format:'YYYY-MM-DD'})" th:value="${#dates.format(datahosp.tentative_diagnosis_day)}"/>
					</div><br /><hr/><br /><br />
					<div>
						补充诊断：<textarea  name="supplementary_diagnosis" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.supplementary_diagnosis}"></textarea>
						签名：<input  name="supplementary_diagnosis_name" type="text" class="a " style="width: 100px" th:value="${datahosp.supplementary_diagnosis_name}"/>
						日期：<input  name="supplementary_diagnosis_day" class="datainp" id="datebut7" type="text" placeholder="请选择"  readonly=""
								   onClick="jeDate({dateCell:'#datebut7',isTime:true,format:'YYYY-MM-DD'})" th:value="${#dates.format(datahosp.supplementary_diagnosis_day)}"/>
					</div><br /><hr/><br /><br />
					<div>
						最后诊断：<textarea  name="final_diagnosis" type="text" class="a " style="height:56px; width: 250px" th:value="${datahosp.final_diagnosis}"></textarea>
						签名：<input  name="final_diagnosis_name" type="text" class="a " style="width: 100px" th:value="${datahosp.final_diagnosis_name}"/>
						日期：<input  name="final_diagnosis_day" class="datainp" id="datebut8" type="text" placeholder="请选择"  readonly=""
								   onClick="jeDate({dateCell:'#datebut8',isTime:true,format:'YYYY-MM-DD'})" th:value="${#dates.format(datahosp.final_diagnosis_day)}"/>
					</div><br /><hr/><br /><br />
					<div>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="submit" style="height:30px;width:50px; margin-left: 50px" value="提交"/>
						<input type="reset" style="height:30px;width:50px; margin-left: 300px" value="重置"/>
					</div>
				</form>
			</div>
			<div id="bing" class="sty ">
				<br /><br /><br />
				<li style="font-size: 50px;margin-left:150px">病程记录</li><br /><br /><br /><br />
				<form action="/addcourse_disease" method="post" id="form_c">
					<div>
						病案号：<input type="text" class="a " style="height:30px;width:150px;" name="card_medical" th:value="${datacour.card_medical}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						床号：<input type="text" class="a " style="height:30px;width:150px;" name="bed_no" th:value="${datacour.bed_no}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						科室：<input type="text" class="a " style="height:30px;width:150px;" name="department" th:value="${datacour.department}"/>
					</div><br /><hr/><br /><br />
					<div>
						<div>
							首次病程记录：<textarea type="text" class="a " style="width: 300px; height: 35px" name="first_disease_record" th:value="${datacour.first_disease_record}"></textarea>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							日期：<input class="datainp" id="datebut20" type="text" placeholder="请选择"  readonly="" style="height:30px;width:150px;"
									  onClick="jeDate({dateCell:'#datebut20',isTime:true,format:'YYYY-MM-DD'})" name="first_disease_record_time" th:value="${#dates.format(datacour.first_disease_record_time)}"/>
						</div><br /><br />
						<div>
							（一）病例特点
						</div><br /><br />
						<div>
							病例特点：<textarea type="text" class="a " style="width: 150px; height: 35px" name="case_trait" th:value="${datacour.case_trait}"></textarea>
							病史特点：<textarea type="text" class="a " style="width: 150px; height: 35px" name="history_characteristics" th:value="${datacour.history_characteristics}"></textarea>
							既往史：<textarea type="text" class="a " style="width: 150px; height: 35px" name="past_medical_history" th:value="${datacour.past_medical_history}"></textarea>
						</div><br /><br />
						入院体检：<textarea type="text" class="a " style="width: 150px; height: 35px" name="hospital_medical" th:value="${datacour.hospital_medical}"></textarea>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						辅助检查：<textarea type="text" class="a " style="width: 150px; height: 35px" name="auxiliary_examination" th:value="${datacour.auxiliary_examination}"></textarea>
					</div><br /><br />

					<div>
						（二）诊断、诊断依据及鉴别诊断
					</div><br /><br />
					<div>
						初步诊断：<textarea type="text" class="a " style="width: 150px; height: 35px" name="primary_diagnosis" th:value="${datacour.primary_diagnosis}"></textarea>
						诊断依据：<textarea type="text" class="a " style="width: 150px; height: 35px" name="diagnostic_basis" th:value="${datacour.diagnostic_basis}"></textarea>
						诊断鉴别：<textarea type="text" class="a " style="width: 150px; height: 35px" name="identify_diagnostic" th:value="${datacour.identify_diagnostic}"></textarea>
					</div><br /><br />

					<div>
						支持点：<textarea type="text" class="a " style="width: 150px; height: 35px" name="support_point" th:value="${datacour.support_point}"></textarea>
						不支持点：<textarea type="text" class="a " style="width: 150px; height: 35px" name="not_supported" th:value="${datacour.not_supported}"></textarea>
						结论：<textarea type="text" class="a " style="width: 150px; height: 35px" name="conclusion" th:value="${datacour.conclusion}"></textarea>
					</div><br /><br />
					<div>
						（三）诊疗计划
					</div><br /><br />
					<div>
						诊疗计划：<textarea type="text" class="a " style="width: 300px; height: 35px" name="diagnostic_plan" th:value="${datacour.diagnostic_plan}"></textarea>
					</div><br /><hr/>
					<div>
						<input type="submit" class="a " style="width: 100px" value="提交"/>
						<input type="submit" class="a " style="width: 100px;margin-left: 50px" value="重置"/>
					</div><br /><br /><br /><br /><br />
				</form>
			</div>
			<div id="list" class="sty ">
				<br /><br /><br />
				<li style="font-size: 50px;margin-left:0px">病程查房记录</li><br /><br /><br /><br />
				<div th:each="check:${datacheck}">
					<form  method="post" id="form_check" >
						<div>
							查房人：<input type="text" class="a " style="height:30px;width:150px;" name="Patient_rounds_doctor" th:value="${check.Patient_rounds_doctor}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							查房时间：<input class="datainp" id="datebut30" type="text" placeholder="请选择"  readonly="" style="height:30px;width:150px;"
										onClick="jeDate({dateCell:'#datebut30',isTime:true,format:'YYYY-MM-DD'})" name="Patient_rounds_date" th:value="${#dates.format(check.Patient_rounds_date)}"/>
						</div><br /><hr/><br /><br />
						<div>
							病案号：<input type="text" class="a " style="height:30px;width:150px;" name="card_medical" th:value="${check.card_medical}"/>
						</div><br /><hr/><br /><br />
						<div>
							查房人签名：<input type="text" class="a " style="height:30px;width:150px;" name="doctor_signature" th:value="${check.doctor_signature}"/>
						</div><br /><hr/><br /><br />
						<div>
							查房记录：<textarea type="text" class="a " style="width: 360px; height: 60px" name="Patient_rounds_details" th:value="${check.Patient_rounds_details}"></textarea>
						</div><br /><hr/><br /><br />
						<div>
							<button onclick="subs()" class="btn btn-primary" id="buttoncheck" style="margin-left: 60px;width: 70px">提交</button>
							<button  type="reset" class="btn btn-primary" style="margin-left: 200px;width: 70px">重置</button>
						</div>
					</form>
				</div>
			</div>
			<div class="sty ">
				<br /><br /><br />
				<li style="font-size: 50px;">出院记录</li><br /><br /><br /><br />
				<form id="form_d" action="/addleave_hospital" method="post">
						<div>
							科室：<input type="text" class="a " style="width: 150px;height:30px;" name="department" th:value="${dataleav.department}"/>
							床号：<input type="text" class="a " style="width: 150px;height:30px;" name="bed_no" th:value="${dataleav.bed_no}"/>
							病案号：<input type="text" class="a " style="width: 150px;height:30px;" name="card_medical" th:value="${dataleav.card_medical}"/>
						</div><br /><br />
						<div>
							记录日期：<input class="datainp" id="datebut10" type="text" placeholder="请选择"  readonly=""
										onClick="jeDate({dateCell:'#datebut10',isTime:true,format:'YYYY-MM-DD'})" name="record_date" style="width: 125px;height:30px;" th:value="${#dates.format(dataleav.record_date)}"/>
							入院日期：<input class="datainp" id="datebut11" type="text" placeholder="请选择"  readonly=""
										onClick="jeDate({dateCell:'#datebut11',isTime:true,format:'YYYY-MM-DD'})" name="admission_date" style="width: 125px;height:30px;" th:value="${#dates.format(dataleav.admission_date)}"/>
							出院日期：<input class="datainp" id="datebut12" type="text" placeholder="请选择"  readonly=""
										onClick="jeDate({dateCell:'#datebut12',isTime:true,format:'YYYY-MM-DD'})" name="discharge_date" style="width: 125px;height:30px;" th:value="${#dates.format(dataleav.discharge_date)}"/>
						</div><br />
						<div class="textarea_div">
							入院情况：<textarea type="text" class="a " style="width: 510px;height:100px;" name="admitting_situation" th:value="${dataleav.admitting_situation}"></textarea>
						</div><br />
						<div class="textarea_div">
							入院诊断：<textarea type="text" class="a " style="width: 510px;height:100px;" name="admitting_diagnosis" th:value="${dataleav.admitting_diagnosis}"></textarea>
						</div><br />
						<div class="textarea_div">
							诊疗经过：<textarea type="text" class="a " style="width: 510px;height:100px;" name="treatment_process" th:value="${dataleav.treatment_process}"></textarea>
						</div><br />
						<div class="textarea_div">
							出院诊断：<textarea type="text" class="a " style="width: 510px;height:100px;" name="discharge_diagnosis" th:value="${dataleav.discharge_diagnosis}"></textarea>
						</div><br />
						<div class="textarea_div">
							出院情况：<textarea type="text" class="a " style="width: 510px;height:100px;" name="discharge_situation" th:value="${dataleav.discharge_situation}"></textarea>
						</div><br />
						<div class="textarea_div">
							出院医嘱：<textarea type="text" class="a " style="width: 510px;height:100px;" name="discharge_advice" th:value="${dataleav.discharge_advice}"></textarea>
						</div><br />
						<div>
							医师签名：<input type="text" class="a " style="width:100px;height:30px;" name="physician_signature" th:value="${dataleav.physician_signature}"/>
						</div><br />
						<div>
							<input type="submit" class="a " style="width: 100px" id="submit_hos" value="提交"/>
							<input type="reset" class="a " style="width: 100px" value="重置"/>
						</div>
				</form>
			</div>
			<div class="sty ">
				<br /><br /><br />
				<li size="9" style="font-size: 50px;margin-left:0px ">各种影像检查报告</li><br /><br /><br /><br />
				<form id="form_e" action="/addvideo_report" method="post">
					<div>
						病人ID：<input type="text" class="a " style="width: 150px;height:30px;" name="patientId" th:value="${datavideo.patientId}"/>
						申报单号：<input type="text" class="a " style="width: 150px;height:30px;" name="eclarationd_num" th:value="${datavideo.eclarationd_num}"/>
						报告日期：<input class="datainp" id="datebut13" type="text" placeholder="请选择" style="width: 150px;height:30px;"  readonly=""
									onClick="jeDate({dateCell:'#datebut13',isTime:true,format:'YYYY-MM-DD'})"
									name="report_time" th:value="${#dates.format(datavideo.report_time)}"/>
					</div><br />
					<div>
						病案号：<input type="text" class="a " style="width: 155px;height:30px;" name="card_medical" th:value="${datavideo.card_medical}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						科室：<input type="text" class="a " style="width: 155px;height:30px;" name="department" th:value="${datavideo.department}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						床号：<input type="text" class="a " style="width: 155px;height:30px;" name="bed_no" th:value="${datavideo.bed_no}"/>
					</div><br/>
					<div>
						检查部位：<input type="text" class="a " style="width: 155px;height:30px;" name="inspection_area" th:value="${datavideo.inspection_area}"/>
					</div><br />
					<div>
						影像学所见：<textarea type="text" class="a " style="width: 500px;height: 100px;" name="video_content" th:value="${datavideo.video_content}"></textarea>
					</div><br />
					<div>
						影像学意见：<textarea type="text" class="a " style="width: 500px;height: 100px;" name="video_conclusion" th:value="${datavideo.video_conclusion}"></textarea>
					</div> <br />
					<div>
						报告医师：<input type="text" class="a " style="width: 150px;height:30px;" name="reported_doctor" th:value="${datavideo.reported_doctor}"/>
						审核医师：<input type="text" class="a " style="width: 150px;height:30px;" name="check_doctor" th:value="${datavideo.check_doctor}"/>
						终审医师：<input type="text" class="a " style="width: 150px;height:30px;" name="final_check_doctor" th:value="${datavideo.final_check_doctor}"/>
					</div> <br />
					<div style="margin-left: 70px; width: 400px;">
						影像类别：<select name="video_status" class="a " style="width: 150px;height:30px;" id="sdf" th:value="${datavideo.video_status}">
						<option>影像科MR检查报告书</option>
						<option>影像科CT检查报告书</option>
						<option>影像科X检查报告</option>
					</select>
					</div><br />
					<div>
						<input type="submit" class="a " style="width: 150px;height:30px;" id="submit" value="提交"/>
						<input type="reset" class="a " style="width: 150px;height:30px;" value="重置"/>
					</div>
				</form>
			</div>
			<div class="sty ">
				<br /><br /><br />
				<li style="font-size: 50px;margin-left:0px">超声波检查报告</li><br /><br /><br /><br />
				<div th:each="ultr:${dataurtl}">
					<form id="form_f" action="" method="post">
						<div>
							超声波号：<input type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="ultrasonic_number" th:value="${ultr.ultrasonic_number}"/>
							<!--</div><br /><hr/><br /><br />
                            <div>-->
							病案号：<input type="text" class="a " style="width: 100px;height: 30px" name="card_medical" th:value="${ultr.card_medical}"/>
						</div><br /><br />
						<div>
							科&nbsp;&nbsp;&nbsp;&nbsp;室：<input type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="department" th:value="${ultr.department}"/>
							<!--</div><br /><hr/><br /><br />
                            <div>-->
							床号：<input type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="bed_no" th:value="${ultr.bed_no}"/>
						</div><br /><br />
						<div>
							检查设备：<input type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="check_equipment" th:value="${ultr.check_equipment}"/>
							<!--</div><br /><hr/><br /><br />
                            <div>-->
							检查部位：<input type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="inspection_area" th:value="${ultr.inspection_area}"/>
						</div><br /><br />
						<div>
							<p>超声所见：</p><textarea type="text" class="a " style="width: 600px;height: 60px" name="ultrasonic_content" th:value="${ultr.ultrasonic_content}"></textarea>
						</div><br /><br />
						<div>
							<p>超声提示：</p><textarea type="text" class="a " style="width: 600px;height: 60px" name="ultrasonic_tip" th:value="${ultr.ultrasonic_tip}"></textarea>
						</div><br /><br />
						<div>
							诊断医师：<input type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="diagnosis_doctor" th:value="${ultr.diagnosis_doctor}"/>
							<!--</div><br /><hr/><br /><br />
                            <div>-->
							会诊医师：<input type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="consultant_doctor" th:value="${ultr.consultant_doctor}"/>
						</div><br /><br />
						<div>
							报告日期：<input class="datainp" id="datebut14" type="text" placeholder="请选择"  readonly=""
										onClick="jeDate({dateCell:'#datebut14',isTime:true,format:'YYYY-MM-DD'})" style="width: 150px;height:30px;" name="report_date" th:value="${#dates.format(ultr.report_date)}"/>
							<!-- </div><br /><hr/><br /><br />
                             <div>-->
							打印日期：<input class="datainp" id="datebut15" type="text" placeholder="请选择"  readonly=""
										onClick="jeDate({dateCell:'#datebut15',isTime:true,format:'YYYY-MM-DD'})" style="width: 150px;height:30px;" name="print_date" th:value="${#dates.format(ultr.print_date)}"/>
						</div><br /><br />
						<div>
							<button onclick="subs()" class="btn btn-primary" id="button" style="margin-left: 60px;width: 70px">提交</button>
							<button  type="reset" class="btn btn-primary" style="margin-left: 200px;width: 70px">重置</button>
						</div>
					</form>
				</div>
			</div>
			<div class="sty ">
				<br /><br /><br />
				<li style="font-size: 50px;margin-left:0px">经颅多普勒超声检查报告</li><br /><br /><br /><br />
				<form id="form_dp" action="/addTranscranial_doppler_report" method="post">
					科室：<input type="text" class="a "  name="department" style="height:30px;width:240px;" th:value="${datadopp.department}"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					病案号：<input type="text" class="a "  name="card_medical" style="height:30px;width:240px;" th:value="${datadopp.card_medical}"/>
					<div>
						<br />
						<br />
						床号：<input type="text" class="a "  name="bed_no"&nbsp; style="height:30px;width:240px;" th:value="${datadopp.bed_no}">
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						检查号：<input type="text" class="a "  name="check_number" style="height:30px;width:240px;" th:value="${datadopp.check_number}"/>
						<br />
						<br />
					</div>
					<div>
						检查时间：<input  name="check_time" class="datainp" id="datebut17" type="text" placeholder="请选择"  readonly=""
									 onClick="jeDate({dateCell:'#datebut17',isTime:true,format:'YYYY-MM-DD'})"style="height:30px;width:100px;" 	th:value="${#dates.format(datadopp.check_time)}"/>
					</div>
					<div>
						<br /><br />
						TCD描述：<textarea type="text" class="a " style="height:100px;width:500px;" name="TCD_content" th:value="${datadopp.TCD_content}"></textarea>
					</div><br /><br />
					<div>
						TCD结论：<textarea type="text" class="a " style="height:100px;width:500px;" name="TCD_conclusion" th:value="${datadopp.TCD_conclusion}"></textarea>
					</div><br /><br />
					<div>
						医师签名：<input type="text" class="a " style="height:30px;width:240px;" name="physician_signature" th:value="${datadopp.physician_signature}"/>
					</div><br /><br />
					<div>
						<input type="submit" class="a " style="height:30px;width: 100px" id="submitdoppl" value="提交"/>
						<input type="reset" class="a " style="height:30px;width: 100px" value="重置"/>
					</div>
				</form>
			</div>
			<div class="sty ">
				<br /><br /><br />
				<li style="font-size: 50px;margin-left:100px">心电图记录报告</li><br /><br /><br /><br />
				<form id="form_h" action="/addheart_rateChart" method="post">
					<div>
						科室：<input type="text" class="a " style="height:25px;width:150px;" name="department" th:value="${datahraet.department}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						床号：<input type="text" class="a " style="height:25px;width:150px;" name="bed_no" th:value="${datahraet.bed_no}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						病案号：<input type="text" class="a " style="height:25px;width:150px;" name="card_medical" th:value="${datahraet.card_medical}"/>
					</div><br /><br /><br />

					<div>
						心率室：<input type="text" class="a " style="height:25px;width:150px;" name="ventricular_rate" th:value="${datahraet.ventricular_rate}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						窦性心率：<input type="text" class="a " style="height:25px;width:150px;" name="sinus_rhythm" th:value="${datahraet.sinus_rhythm}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						Pr间期：<input type="text" class="a " style="height:25px;width:150px;" name="PR_interphase" th:value="${datahraet.PR_interphase}"/>
					</div><br /><br /><br />
					<div>
						QRS宽度：<input type="text" class="a " style="height:25px;width:150px;" name="QRS_width" th:value="${datahraet.QRS_width}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						QT：<input type="text" class="a " style="height:25px;width:150px;" name="QT" th:value="${datahraet.QT}"/>&nbsp;&nbsp;&nbsp;&nbsp;
						P_R_T轴：<input type="text" class="a " style="height:25px;width:150px;" name="P_R_T" th:value="${datahraet.P_R_T}"/>
					</div><br /><hr/><br /><br /><br />
					<div>
						<input type="submit" class="a " style="width: 100px; margin-left: 100px" id="submitheart" value="提交"/>
						<input type="reset" class="a " style="width: 100px;margin-left: 100px" value="重置"/>
					</div>
				</form>
			</div>
		</div>
	    <script type="text/javascript">
			$("#form_a").ajax({
				dataType: "json",//预期服务器返回的数据类型
				url: "/",
				type: "POST",//方法类型
				data: $('#form_a').serialize(),
				success:function (r) {
					if(r){
						alert("修改成功");
					}
				}
			})
			$("#form_b").ajax({
				dataType: "json",//预期服务器返回的数据类型
				url: "/",
				type: "POST",//方法类型
				data: $('#form_b').serialize(),
				success:function (r) {
					if(r){
						alert("修改成功");
					}
				}
			})
			$("#form_c").ajax({
				dataType: "json",//预期服务器返回的数据类型
				url: "/",
				type: "POST",//方法类型
				data: $('#form_c').serialize(),
				success:function (r) {
					if(r){
						alert("修改成功");
					}
				}
			})
			$("#form_d").ajax({
				dataType: "json",//预期服务器返回的数据类型
				url: "/",
				type: "POST",//方法类型
				data: $('#form_d').serialize(),
				success:function (r) {
					if(r){
						alert("修改成功");
					}
				}
			})
			/*$().ready(function () {
				ajaxGetRecordList(RecordList);
			})
			function ajaxGetRecordList() {
				jQuery.ajax({
					dataType: "json",//预期服务器返回的数据类型
					url: "/",
					type: "POST",//方法类型
					data: $('#form_c').serialize(),
					success:function (r) {
						RecordList(r);
					}
				})
			}
			var html = "";
			function RecordList(data) {
				//list遍历
				for(var i=0;i<data.length;i++){
               		html +='<form  method="post" id="form_b">';
					html +='<div>';
					html +='查房人：<input type="text" class="a " style="height:30px;width:150px;" name="Patient_rounds_doctor"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
					html +='查房时间：<input class="datainp" id="datebut10" type="text" placeholder="请选择"  readonly="" style="height:30px;width:150px;" onClick="jeDate({dateCell:\'datebut10\',isTime:true,format:\'YYYY-MM-DD\'})" name="Patient_rounds_date"/>';
					html +='</div><br /><hr/><br /><br />';
					html +='<div>病案号：<input type="text" class="a " style="height:30px;width:150px;" name="card_medical"/></div><br /><hr/><br /><br />';
					html +='<div>查房人签名：<input type="text" class="a " style="height:30px;width:150px;" name="doctor_signature"/></div><br /><hr/><br /><br />';
					html +='<div>查房记录：<textarea type="text" class="a " style="width: 360px; height: 60px" name="Patient_rounds_details"></textarea></div><br /><hr/><br /><br />';
					html +='<div> <button onclick="subs()" class="btn btn-primary" id="button" style="margin-left: 60px;width: 70px">提交</button> <button  type="reset" class="btn btn-primary" style="margin-left: 200px;width: 70px">重置</button></div>';
					html +='</form>';
				}
				$('#list').html(html);
			}*/
		</script>
	</body>
</html>