<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="js/pdf.js" type="text/javascript"></script>
    <script type="text/javascript">
        function showPdf(isShow) {
            var state = "";
            if (isShow) {
                state = "block";
            } else {
                state = "none";
            }
            var pop = document.getElementById("pop");
            pop.style.display = state;
            var lightbox = document.getElementById("lightbox");
            lightbox.style.display = state;
        }
        function close() {
            showPdf(false);
        }
    </script>
</head>
<body>
   <!--<div th:if="${not #lists.isEmpty(home_page)}" th:each="home_page:${home_page}">-->
       <!--&lt;!&ndash;<embed width="800" height="600" th:src="${home_page.picture_path}"></embed>&ndash;&gt;-->
       <!--&lt;!&ndash;<iframe th:src="${home_page.picture_path}" width="800" height="600"></iframe>&ndash;&gt;-->
       <!--<li> <a th:href="${home_page.picture_path}" target="pdfContainer" onclick="showPdf(true)">0001_pdf</a></li>-->
    <!--</div>-->
   <ul>
       <li><a th:href="${home_page.picture_path}" target="pdfContainer" onclick="showPdf(true)">0001_pdf</a></li>
   </ul>
   <div class="lightbox" id="lightbox"></div>
   <div id="pop" class="pop" style="display: none;">
       <a href="javascript:close()" style="
            position: absolute;
            right: -90px;
            display: inline-block;
            width: 80px;
            height: 30px;
        " id="close">关闭</a>
       <iframe src="" frameborder="0" id="pdfContainer" name="pdfContainer"></iframe>
   </div>
</body>
</html>