<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>中大八院病历病案首页编辑</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>

		<script type="text/javascript" src="jedate/jedate.min.js"></script>
		<script type="text/javascript" src="jedate/jedate1.js"></script>
		<script type="text/javascript" src="jedate/jedate.js"></script>

		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/stylet.css" />
		<link href="bootstrap-3.3.7/docs/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<link href="bootstrap-3.3.7/docs/examples/signin/signin.css" rel="stylesheet">
		<script src="bootstrap-3.3.7/docs/assets/js/ie8-responsive-file-warning.js"></script>
		<script src="bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/Ecalendar.jquery.min.js"></script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!--<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>-->
		<script src="js/bootstrap.min.js"></script>
		<!-- 列表展示 -->
		<link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css">
		<script type="text/javascript" src="js/bootstrap-table.js"></script>
		<!-- DataTables -->
		<script type="text/javascript" charset="utf8" src="js/jquery.dataTables.js"></script>
		<link href="minimal/minimal.css" rel="stylesheet">
		<script src="js/icheck.js"></script>

		<style>
			#head{
				/*border: 1px solid black;*/
				height: 12%;
				width: 100%;
				background-color:#87CEEB;
				position:fixed;
				top:0;
				z-index: 999999;
				-webkit-transition: .5s ease-in-out;
				-moz-transition: .5s ease-in-out;
				-o-transition: .5s ease-in-out;
			}
			#tabs{
				top: 12%;
				margin-left:0%;
				height: 88%;
				width: 278px;
				/*border: 1px solid black;*/
				float:left;
				position: absolute;
			}
			#mains{
				top: 12%;
				margin-left: 301px;
				width: 1300px;
				height: 88%;
				/*border: 1px solid black;*/
				float:left;
				position: absolute;
				/*background:  #0275d8;*/
			}
			#myTabContent{
				margin-left: 30%;
				/*background:  #78BA32;*/
			}
			ul li:nth-child(odd){
				background:#87CEEB;
				list-style:none;
			}
			ul li:nth-child(even){
				background:#87CEEB;
				list-style:none;
			}
			.nav {
				/*background-color: #F5F5DC;*/
			}
			.nav ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				line-height: 5em;
			}

			.nav a {
				display: block;
				width: 11.15em;
				text-align: center;
				text-decoration: none;
				/*background-color: #CCCCCC;*/
			}
			.nav a:hover {
				background-color: #3dc7ab;
			}
			li{
				font-size:25px;
			}
			/*入院记录样式修改*/
			.datainp{ width:150px; height:20px; border:1px #ccc solid;border-radius:5px;}
			/*#in{
				!*border: 1px solid black;*!
				top: 0px;
				width: 800px;
				height: 2100px;
				position: absolute;
				left: 30%;
				bottom: 200px;
				background: #ADD8E6;
			}*/
			hr{
				width: 0%;
			}
			input{
				background:  #ADD8E6;
				border-bottom: 1px solid #2b2b2b;
				border-top:0px;
				border-left:0px;
				border-right:0px;
				readOnly:true;
			}
			textarea{
				background:  #ADD8E6;
				border-bottom: 1px solid #2b2b2b;
				border-top:0px;
				border-left:0px;
				border-right:0px;
			}
			#opin{
				left: 70%;
				float:left;
				width: 40%;
				top: 10px;
				position:absolute;
				/*border: 1px solid black;*/
			}
			#yetou{
				float:left;
				left: 10%;
				width: 60%;
				/*border: 1px solid black;*/
			}
			#button_sure{
				background-color: #00A1CB;
				border: none;
				color: white;
				text-decoration: none;
				/*display: inline-block;*/
				margin: 4px 4px;
				padding: 4px 15px;
				border-radius: 4px;
			}
			#addroom{
				background-color: #00A1CB;
				border: none;
				color: white;
				text-decoration: none;
				/*display: inline-block;*/
				margin: 4px 4px;
				padding: 4px 15px;
				border-radius: 4px;
			}
			ul.nav-tabs{
				/*width: 140px;*/
				margin-top: 20px;
				border-radius: 4px;
				border: 1px solid #ddd;
				box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
			}
			ul.nav-tabs li{
				margin: 0;
				border-top: 1px solid #ddd;
			}
			ul.nav-tabs li:first-child{
				border-top: none;
			}
			ul.nav-tabs li a{
				margin: 0;
				padding: 8px 16px;
				border-radius: 0;
			}
			ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
				color: #fff;
				background: #0088cc;
				border: 1px solid #0088cc;
			}
			ul.nav-tabs li:first-child a{
				border-radius: 4px 4px 0 0;
			}
			ul.nav-tabs li:last-child a{
				border-radius: 0 0 4px 4px;
			}
			ul.nav-tabs.affix{
				top: 30px; /* Set the top position of pinned element */
			}
		</style>
		<script type="text/javascript">
			function handleEnter (field, event) {
				var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
				if (keyCode == 13) {
					var i;
					for (i = 0; i < field.form.elements.length; i++)
						if (field == field.form.elements[i])
							break;
					do{
						i = (i + 1) % field.form.elements.length;
					}while(field.form.elements[i].type != 'text' )  //可扩展到其他比如select 值了，避开label
					field.form.elements[i].focus();
					//window.event.keyCode=9
					return false;
				}
				else
					return true;
			}
			$(document).ready(function(){
				$("#myTab").affix({
					offset: {
						top: 125
					}
				});
			});
		</script>
	</head>
	<body style="background-color: #ADD8E6">
	<div id="head">
		<br />
		<!-- 页头 -->
		<div id="yetou">
			<h4>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				你好：<label></label>（先生/女士）
				<a href="/" style="color: #2b542c">退出登录</a>
			</h4>
		</div>
		<!-- 确认是否通过审核 -->
		<div id="opin">
			<!--<form action="/search_submit" method="post">
				<div hidden="hidden">
					<input name="keyword" th:value="${listmedi.keyword}"/>
				</div>
				<label><input name="Fruit" type="radio" value="1" />审核通过</label>
				<label><input name="Fruit" type="radio" value="0" />未通过</label>
				<label> <input id="button_sure"type="submit" value="提交"></label><br>
				<textarea type="text" name="remarks" placeholder="审核意见" style="width: 200px;height: 30px;background-color: #ADD8E6;border-radius: 5px;"></textarea>
			</form>-->
		</div>
	</div>
	<div id="cent" style="width: 100%;top: 12%;height: 25px;background-color:#c4e3f3;position:fixed;">
	</div>
	<div id="tabs" class="nav">
		<!-- 导航栏区 -->
		<ul id="myTab" class="nav nav-tabs nav-stacked">
			<li class="active"><a href="#tabs-0" data-toggle="tab">病案首页</a></li>
			<li><a href="#tabs-1" data-toggle="tab">入院记录</a></li>
			<li><a href="#tabs-2" data-toggle="tab">病程记录</a></li>
			<li class="checkR"><a href="#tabs-4" data-toggle="tab">查房记录</a></li>
			<li><a href="#tabs-3" data-toggle="tab">出院记录</a></li>
			<li><a href="#tabs-5" data-toggle="tab">X/CT/RM</a></li>
			<li><a href="#tabs-6" data-toggle="tab">超声波</a></li>
			<li><a href="#tabs-7" data-toggle="tab">多普勒</a></li>
			<li><a href="#tabs-8" data-toggle="tab">PDF导入</a></li>
		</ul>
	</div>
	<div id="mains">
		<!-- 内容工作区 -->
		<div id="myTabContent" class="tab-content">
			<div hidden="hidden">
				<input name="keyword" id="all_keyword" th:value="${listmedi.keyword}"/>
				<input name="keyword" id="card_medical" th:value="${listmedi.card_medical}"/>
			</div>
			<div class="tab-pane fade in active" id="tabs-0">
				<div id="mcont">
					<form id="disea_one" method="post">
						<div hidden="hidden">
							<input name="keyword" th:value="${listmedi.keyword}"/>
							<input name="id"     th:value="${listmedi.id}"/>
							<input name="status" th:value="${listmedi.status}"/>
							<input name="create_time" th:value="${listmedi.create_time}"/>
						</div>
						<div class="">
							<div class="">
								<br />
								<li style="font-size: 50px;margin-left:200px">病历首页</li><br />
								<br />
								健康卡号：<input type="text" class="a " style="width: 200px; height: 20px" name="card_health" th:value="${listmedi.card_health}" placeholder="健康卡号"onkeypress="return handleEnter(this, event)" readonly="true"/>
								&nbsp;&nbsp;&nbsp;
								第：<input type="text" class="a " style="width: 50px; height: 20px" maxlength="3" th:value="${listmedi.times_hospitalized}" name="times_hospitalized"onkeypress="return handleEnter(this, event)" readonly="true"/>
								次住院 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								病案号：<input type="text" class="a " style="width: 130px; height: 20px" placeholder="病案号" th:value="${listmedi.card_medical}" name="card_medical"onkeypress="return handleEnter(this, event)" readonly="true"/>
							</div><br /><hr>
							<div class="">
								姓名：<input type="text" class="a " style="width: 100px; height: 20px" placeholder="姓名" name="name" th:value="${listmedi.name}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								性别：<input type="text" class="a "style="width: 100px; height: 20px" placeholder="性别" name="sex" th:value="${listmedi.sex}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								出生日期：<input class="datainp" id="datebut" type="text"  style="width: 150px; height: 20px"
											 name="birthday" th:value="${#dates.format(listmedi.birthday,'yyyy-MM-dd')}" readonly="true"/>
								年龄（岁）：<input type="text" class="a " style="width: 50px; height: 20px" name="age" th:value="${listmedi.age}" onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								国籍：<input type="text" class="a " style="width: 100px; height: 20px" name="nationality" th:value="${listmedi.nationality}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								民族：<input type="text" class="a " style="width: 100px; height: 20px" name="volk" th:value="${listmedi.volk}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								出生体重：<input type="text" class="a " style="width: 100px; height: 20px" name="" onkeypress="return handleEnter(this, event)" readonly="true"/>
								入院体重：<input type="text" class="a " style="width: 112px"name=""  onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								出生地：<textarea type="text" class="a " style="width: 300px; height: 24px" name="homeplace_province" th:text="${listmedi.homeplace_province}" onkeypress="return handleEnter(this, event)" readonly="true"></textarea>
								<!--出生市：<input type="text" class="a " style="width: 100px"  name="homeplace_city"onkeypress="return handleEnter(this, event)"/>
								出生县：<input type="text" class="a " style="width: 100px"  name="homeplace_county"onkeypress="return handleEnter(this, event)"/>-->
								&nbsp;&nbsp;
								籍贯：<textarea type="text" class="a " style="width: 236px; height: 24px" name="native_place" th:value="${listmedi.native_place}" onkeypress="return handleEnter(this, event)" readonly="true"></textarea>
							</div><br />
							<div class="">
								身份证号：<input type="text" class="a " style="width: 200px" name="card_id" th:value="${listmedi.card_id}"onkeypress="return handleEnter(this, event)" readonly="true"/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								职业：<input type="text" class="a " style="width: 150px" name="vocation" th:value="${listmedi.vocation}"onkeypress="return handleEnter(this, event)" readonly="true"/>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								婚姻：<input id="marry" name="marriage" th:value="${listmedi.marriage}" class="a " style="width: 66px" readonly="true">
							</input><br /><br />
								现住址：<textarea type="text" class="a " style="width: 300px; height: 24px" name="present_address" th:text="${listmedi.present_address}" onkeypress="return handleEnter(this, event)" readonly="true"></textarea>
								电话：<input type="text" class="a " style="width: 100px" name="phone" th:value="${listmedi.phone}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								邮编：<input type="text" class="a " style="width: 100px"name="address_code" th:value="${listmedi.address_code}" onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								户口地址：<textarea type="text" class="a " style="width: 300px; height: 24px" name="residence" th:text="${listmedi.residence}" onkeypress="return handleEnter(this, event)" readonly="true"></textarea>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								邮编：<input type="text" class="a " style="width: 190px;" name="residence_code" th:value="${listmedi.residence_code}" onkeypress="return handleEnter(this, event)" readonly="true"/>
							</div><br /><hr/>
							<div>
								工作单位及地址：<textarea type="text" class="a " style="width: 300px; height: 24px" name="work_unit_address" th:text="${listmedi.work_unit_address}" onkeypress="return handleEnter(this, event)" readonly="true"></textarea>
								单位电话：<input type="text" class="a " style="width: 100px" name="work_unit_phone" th:value="${listmedi.work_unit_phone}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								邮编：<input type="text" class="a " style="width: 80px" name="work_unit_code" th:value="${listmedi.work_unit_code}"onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								联系人姓名：<input type="text" class="a " style="width: 100px" name="linkman_name" th:value="${listmedi.linkman_name}"onkeypress="return handleEnter(this, event)" readonly="true"/>
								关系：<input type="text" class="a " style="width: 30px" name="linkman_relation" th:value="${listmedi.linkman_relation}"onkeypress="return handleEnter(this, event)" readonly="true"/>
								地址：<textarea type="text" class="a " style="width: 250px;height: 24px" name="linkman_address" th:value="${listmedi.linkman_address}"onkeypress="return handleEnter(this, event)" readonly="true"></textarea>
								电话：<input type="text" class="a " style="width: 110px" name="linkman_phone" th:value="${listmedi.linkman_phone}"onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								入院途径：
								<input name="hospitalized_road" th:value="${listmedi.hospitalized_road}" class="a " style="width: 200px" readonly="true">

								</input>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								病人来源：
								<input name="patient_source" th:value="${listmedi.patient_source}" class="a " style="width: 200px" readonly="true">

								</input>
							</div><br /><hr/>
							<div>
								入院日期：<input class="datainp" id="datebut1" type="text"
											 name="hospitalized_day" th:value="${#dates.format(listmedi.hospitalized_day,'yyyy-MM-dd')}" readonly="true"/>
								入院科别：<input type="text" class="a " style="width: 184px" name="hospitalized_category" th:value="${listmedi.hospitalized_category}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								病房：<input type="text" class="a " style="width: 100px" name="hospitalized_ward" th:value="${listmedi.hospitalized_ward}" onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								转科：<input class="datainp" id="datebut4" type="text"
										  name="change_time" th:value="${#dates.format(listmedi.change_time,'yyyy-MM-dd')}" readonly="true"/>
								转：<input type="text" class="a " style="width: 200px" name="change_ward" th:value="${listmedi.change_ward}" onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								出院日期：<input class="datainp" id="datebut3" type="text"
											 name="leave_hospital_day" th:value="${#dates.format(listmedi.leave_hospital_day,'yyyy-MM-dd')}" readonly="true"/>
								出院科别：<input type="text" class="a " style="width: 100px" name="leave_hospital_category" th:value="${listmedi.leave_hospital_category}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								病房：<input type="text" class="a " style="width: 100px"name="leave_hospital_ward" th:value="${listmedi.leave_hospital_ward}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								实际住院：<input type="text" class="a " style="width: 100px" name="real_hospitalization_day" th:value="${listmedi.real_hospitalization_day}" onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								门（急）诊诊断：<input type="text" class="a " style="width: 210px"name="clinic_diagnosis" th:value="${listmedi.clinic_diagnosis}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								疾病编码：<input type="text" class="a " style="width: 100px" name="disease_coding" th:value="${listmedi.disease_coding}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								门（急）诊医生：<input type="text" class="a " style="width: 100px"name="outpatient_doctor" th:value="${listmedi.outpatient_doctor}" onkeypress="return handleEnter(this, event)" readonly="true"/>
							</div><br /><hr/>
							<div>
								主要诊断：<input type="text" class="a " style="width: 245px" name="main_diagnosis" th:value="${listmedi.main_diagnosis}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								诊断编码：<input type="text" class="a " style="width: 100px" name="main_disease_coding" th:value="${listmedi.main_disease_coding}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								入院病情：<input type="text" class="a " style="width: 150px" name="main_diagnosis_state" th:value="${listmedi.main_diagnosis_state}" onkeypress="return handleEnter(this, event)" readonly="true"/><br /><br />
								其他诊断：<textarea type="text" class="a " style="width: 645px;height: 40px" name="other_diagnosis" th:text="${listmedi.other_diagnosis}" readonly="true"></textarea><br /><br />
							</div><br /><hr/>
							<div>
								病例分型：
								<input name="case_classification" th:value="${listmedi.case_classification}" class="a " style="width: 100px" readonly="true">

								</input>
								临床路径病历：
								<input name="clinical_pathway_cases" th:value="${listmedi.clinical_pathway_cases}" class="a " style="width: 100px" readonly="true">

								</input>
								抢救次数：<input type="text" class="a " style="width: 93px" name="rescue_times" th:value="${listmedi.rescue_times}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								成功次数：<input type="text" class="a " style="width: 93px" name="success_times" th:value="${listmedi.success_times}" onkeypress="return handleEnter(this, event)" readonly="true"/>
							</div><br /><hr/>
							<div>
								损伤、中毒的外部原因：<input type="text" class="a " style="width: 290px" name="external_causes" th:value="${listmedi.external_causes}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								疾病编码：<input type="text" class="a " style="width: 200px" name="external_causes_coding" th:value="${listmedi.external_causes_coding}" onkeypress="return handleEnter(this, event)" readonly="true"/>
							</div><br />
							<div>
								病历诊断：<input type="text" class="a " style="width: 300px" name="pathologic_diagnosis" th:value="${listmedi.pathologic_diagnosis}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								病理号：<input type="text" class="a " style="width: 100px" name="pathological_number" th:value="${listmedi.pathological_number}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								疾病编码：<input type="text" class="a " style="width: 115px" name="pathologic_diagnosis_coding" th:value="${listmedi.pathologic_diagnosis_coding}" onkeypress="return handleEnter(this, event)" readonly="true"/>
							</div><br /><hr/>
							<div>
								诊断符合情况
								1、门诊与出院：
								<input name="outpatient_discharge_accord" th:value="${listmedi.outpatient_discharge_accord}" class="a " style="width: 120px" readonly="true">

								</input>
								2、临床与病理：
								<input name="clinical_pathological" th:value="${listmedi.clinical_pathological}" class="a " style="width: 120px" readonly="true">

								</input>
							</div><br /><hr/>
							<div>
								药物过敏：
								<input name="drug_allergy" th:value="${listmedi.drug_allergy}" class="a " style="width: 100px" readonly="true">

								</input>
								过敏药物：<input type="text" class="a " style="width: 100px" name="drug_allergy_name" th:value="${listmedi.drug_allergy_name}" onkeypress="return handleEnter(this, event)" readonly="true"/>
								死亡患者尸检：
								<input name="autopsy" th:value="${listmedi.autopsy}" class="a " style="width: 100px" readonly="true">

								</input>
							</div><br /><hr/>
							<div>
								血型：
								<input name="blood_type" th:value="${listmedi.blood_type}" class="a " style="width: 100px" readonly="true">

								</input>
								Rh：
								<input name="Rh" th:value="${listmedi.Rh}" class="a " style="width: 100px" readonly="true">

								</input>
							</div><br /><hr/>
							<div>
								科主任：<input type="text" class="a " style="width: 100px" name="head_department" th:value="${listmedi.head_department}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								主（主任）任医师：<input type="text" class="a " style="width: 100px" name="protomedicus" th:value="${listmedi.protomedicus}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								主治医师：<input type="text" class="a " style="width: 100px" name="visiting_staff" th:value="${listmedi.visiting_staff}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								住院医师：<input type="text" class="a " style="width: 100px" name="resident" th:value="${listmedi.resident}" onkeypress="return handleEnter(this, event)"readonly="true"/>
							</div><br /><hr/>
							<div>
								责任护士：<input type="text" class="a " style="width: 115px" name="primary_nurse" th:value="${listmedi.primary_nurse}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								进修医师：<input type="text" class="a " style="width: 115px" name="refresher_physician" th:value="${listmedi.refresher_physician}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								实习医师：<input type="text" class="a " style="width: 115px" name="intern" th:value="${listmedi.intern}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								编码员：<input type="text" class="a " style="width: 115px" name="coder" th:value="${listmedi.coder}" onkeypress="return handleEnter(this, event)"readonly="true"/>
							</div><br /><hr/>
							<div>
								病案质量：
								<input name="medical_record_quality" th:value="${listmedi.medical_record_quality}" class="a " style="width: 100px"readonly="true">

								</input>
								质控医师：<input type="text" class="a " style="width: 100px" name="quality_control_physician" th:value="${listmedi.quality_control_physician}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								质控护士：<input type="text" class="a " style="width: 100px" name="quality_control_nurse" th:value="${listmedi.quality_control_nurse}" onkeypress="return handleEnter(this, event)"readonly="true"/>
								质控日期：<input class="datainp" id="datebut2" type="text"
										 name="quality_control_date" th:value="${#dates.format(listmedi.quality_control_date,'yyyy-MM-dd')}"readonly="true"/>
							</div><br /><br />
							<div id="sub">
							</div><br /><br />
						</div>
					</form>
				</div>
			</div>
			<!-- 入院记录 -->
			<div class="tab-pane fade" id="tabs-1">
				<div id="in">
					<br /><br /><br />
					<li style="font-size: 50px;margin-left:200px">入院记录</li><br /><br /><br /><br />
					<form method="post" id="disea_two">
						<div hidden="hidden">
							<input name="keyword" th:value="${listhosp.keyword}"/>
							<input name="id" th:value="${listhosp.id}"/>
							<input name="status" th:value="${listhosp.status}"/>
							<input name="create_time" th:value="${listhosp.create_time}"/>
						</div>
						<div>
							病案号：<input type="text" class="a " style="width: 120px; height: 20px" name="card_medical" th:value="${listhosp.card_medical}" onkeypress="return handleEnter(this, event)"readonly="true"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							记录日期：<input  name="record_day" th:value="${#dates.format(listhosp.record_day,'yyyy-MM-dd')}" class="datainp" id="datebut9" type="text"   style="width: 100px; height: 20px"
										  	readonly="true"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							病史陈诉者：<input  name="history_statement" th:value="${listhosp.history_statement}" type="text" class="a " style="width: 100px; height: 20px" onkeypress="return handleEnter(this, event)"readonly="true"/>
						</div><br /><br />
						<div>
							主&nbsp;&nbsp;&nbsp;&nbsp;诉：<textarea  name="main_suit" th:text="${listhosp.main_suit}" type="text" class="a " style="height:50px; width: 520px" readonly="true"></textarea>
						</div><br /><br />
						<div>
							现病史：<textarea  name="present_illness_history" th:text="${listhosp.present_illness_history}" type="text" class="a " style="height:50px; width: 520px" readonly="true"></textarea>
						</div><br /><br />
						<div>
							既往史：<textarea  name="anamnesis" th:text="${listhosp.anamnesis}" type="text" class="a " style="height:50px; width: 520px" readonly="true"></textarea>
						</div><br /><br />
						<div>
							个人史：<textarea  name="personal_history" th:text="${listhosp.personal_history}" type="text" class="a " style="height:50px; width: 520px" readonly="true"></textarea>
						</div><br /><br />
						<div>
							婚育史：<textarea  name="obsterical_history" th:text="${listhosp.obsterical_history}" type="text" class="a " style="height:50px; width: 520px" readonly="true"></textarea>
						</div><br /><br />
						<div>
							家族史：<textarea  name="family_history" th:text="${listhosp.family_history}" type="text" class="a " style="height:50px; width: 520px" readonly="true"></textarea>
						</div><br /><br />
						<p style="margin-left: 250px">体格检查</p><br /><br />
						<div>
							体温：<input  name="temperature" th:value="${listhosp.temperature}" type="text" class="a " style="width: 100px; height: 20px" onkeypress="return handleEnter(this, event)"readonly="true"/>&nbsp;&nbsp;°C&nbsp;&nbsp;
							呼吸：<input  name="pulse" th:value="${listhosp.pulse}" ype="text" class="a " style="width: 100px; height: 20px" onkeypress="return handleEnter(this, event)"readonly="true"/>&nbsp;&nbsp;次/分&nbsp;&nbsp;
							脉搏：<input  name="breathe" th:value="${listhosp.breathe}" type="text" class="a " style="width: 100px; height: 20px" onkeypress="return handleEnter(this, event)"readonly="true"/>&nbsp;&nbsp;次/分<br /><br />
							血压：<input  name="blood_pressure" th:value="${listhosp.blood_pressure}" type="text" class="a " style="width: 100px; height: 20px" onkeypress="return handleEnter(this, event)"readonly="true"/>&nbsp;&nbsp;mmHg&nbsp;&nbsp;
							体重：<input  name="weight" th:value="${listhosp.weight}" type="text" class="a " style="width: 60px; height: 20px" onkeypress="return handleEnter(this, event)"readonly="true"/>&nbsp;&nbsp;Kg
						</div><br /><hr/>
						<div>
							一般情况：<textarea  name="general_condition" th:text="${listhosp.general_condition}" type="text" class="a " style="height:56px; width: 250px; margin-right: 50px" readonly="true"></textarea>
							皮肤黏膜：<textarea  name="skin_mucosa" th:text="${listhosp.skin_mucosa}" type="text" class="a " style="height:56px; width: 250px" readonly="true"></textarea>
						</div><br /><br />
						<div>&nbsp;&nbsp;&nbsp;
							淋巴结：<textarea  name="lymphaden" th:text="${listhosp.lymphaden}" type="text" class="a " style="height:56px; width: 250px; margin-right: 70px" readonly="true"></textarea>
							头部：<textarea  name="head" th:text="${listhosp.head}" type="text" class="a " style="height:56px; width: 260px" readonly="true"></textarea>
						</div><br /><br />
						<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							颈部：<textarea  name="neck" th:text="${listhosp.neck}" type="text" class="a " style="height:56px; width: 250px; margin-right: 70px;" readonly="true"></textarea>
							胸部：<textarea  name="chest" th:text="${listhosp.chest}" type="text" class="a " style="height:56px; width: 260px" readonly="true"></textarea>
						</div><br /><br />
						<div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							腹部：<textarea  name="belly" th:text="${listhosp.belly}" type="text" class="a " style="height:56px; width: 250px; margin-right: 40px" readonly="true"></textarea>
							肛门生殖器：<textarea  name="anal_genitalia" th:text="${listhosp.anal_genitalia}" type="text" class="a " style="height:56px; width: 250px" readonly="true"></textarea>
						</div><br /><br />
						<div>
							脊柱四肢：<textarea  name="spine" th:text="${listhosp.spine}" type="text" class="a " style="height:56px; width: 250px; margin-right: 30px" readonly="true"></textarea>
							神经生理反射：<textarea  name="reflex" th:text="${listhosp.reflex}" type="text" class="a " style="height:56px; width: 250px" readonly="true"></textarea>
						</div><br /><br />
						<p style="margin-left: 250px">专科情况</p><br />
						<div>
							<textarea  name="special_case" th:text="${listhosp.special_case}" type="text" class="a " style="height:70px; width: 600px" readonly="true"></textarea>
						</div><br /><br />
						<p style="margin-left: 250px">辅助检查</p><br />
						<div>
							<textarea  name="accessory" th:text="${listhosp.accessory}" type="text" class="a " style="height:70px; width: 600px" readonly="true"></textarea>
						</div><br /><br />
						<div>
							修正诊断：<textarea  name="modified_diagnosis" th:text="${listhosp.modified_diagnosis}" type="text" class="a " style="height:56px; width: 250px" readonly="true"></textarea>
							签名：<input  name="modified_diagnosis_name" th:value="${listhosp.modified_diagnosis_name}" type="text" class="a " style="width: 100px" onkeypress="return handleEnter(this, event)"readonly="true"/>
							日期：<input  name="modified_diagnosis_day" th:value="${#dates.format(listhosp.modified_diagnosis_day,'yyyy-MM-dd')}" class="datainp" id="datebut5" type="text" readonly="true">
						</div><br /><hr/>
						<div>
							初步诊断：<textarea  readonly="true"name="tentative_diagnosis" th:text="${listhosp.tentative_diagnosis}" type="text" class="a " style="height:56px; width: 250px" ></textarea>
							签名：<input  readonly="true"name="tentative_diagnosis_name" th:value="${listhosp.tentative_diagnosis_name}" type="text" class="a " style="width: 100px" onkeypress="return handleEnter(this, event)"/>
							日期：<input  readonly="true"name="tentative_diagnosis_day" th:value="${#dates.format(listhosp.tentative_diagnosis_day,'yyyy-MM-dd')}" class="datainp" id="datebut6" type="text"/>
						</div><br /><hr/>
						<div>
							补充诊断：<textarea  readonly="true"name="supplementary_diagnosis" th:text="${listhosp.supplementary_diagnosis}" type="text" class="a " style="height:56px; width: 250px" ></textarea>
							签名：<input  readonly="true"name="supplementary_diagnosis_name" th:value="${listhosp.supplementary_diagnosis_name}" type="text" class="a " style="width: 100px" onkeypress="return handleEnter(this, event)"/>
							日期：<input  readonly="true"name="supplementary_diagnosis_day" th:value="${#dates.format(listhosp.supplementary_diagnosis_day,'yyyy-MM-dd')}" class="datainp" id="datebut7" type="text"/>
						</div><br /><hr/>
						<div>
							最后诊断：<textarea  readonly="true"name="final_diagnosis" th:text="${listhosp.final_diagnosis}" type="text" class="a " style="height:56px; width: 250px" ></textarea>
							签名：<input  readonly="true"name="final_diagnosis_name" th:value="${listhosp.final_diagnosis_name}" type="text" class="a " style="width: 100px" onkeypress="return handleEnter(this, event)"/>
							日期：<input  readonly="true" name="final_diagnosis_day" th:value="${#dates.format(listhosp.final_diagnosis_day,'yyyy-MM-dd')}" class="datainp" id="datebut8" type="text"  />
						</div><br /><hr/>
						<div></div>
					</form>
				</div>
			</div>
			<div class="tab-pane fade" id="tabs-2">
				<div id="bing">
					<br /><br /><br />
					<li style="font-size: 50px;margin-left:200px">病程记录</li><br /><br /><br /><br />
					<form method="post" id="disea_three">
						<div hidden="hidden">
							<input name="keyword" th:value="${listcour.keyword}"/>
							<input name="bc_id" th:value="${listcour.bc_id}"/>
							<input name="status" th:value="${listcour.status}"/>
							<input name="create_date" th:value="${listcour.create_date}"/>
						</div>
						<div>
							病案号：<input readonly="true"type="text" class="a " style="height:30px;width:150px;" name="card_medical" th:value="${listcour.card_medical}" onkeypress="return handleEnter(this, event)"/>&nbsp;&nbsp;&nbsp;&nbsp;
							床号：<input readonly="true"type="text" class="a " style="height:30px;width:150px;" name="bed_no" th:value="${listcour.bed_no}" onkeypress="return handleEnter(this, event)"/>&nbsp;&nbsp;&nbsp;&nbsp;
							科室：<input readonly="true"type="text" class="a " style="height:30px;width:150px;" name="department" th:value="${listcour.department}" onkeypress="return handleEnter(this, event)"/>
						</div><br /><hr/>
						<div>
							<div>
								首次病程记录：<textarea readonly="true"type="text" class="a " style="width: 300px; height: 35px" name="first_disease_record" th:text="${listcour.first_disease_record}"></textarea>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								日期：<input class="datainp" id="datebut0" type="text"  readonly="true" style="height:30px;width:150px;"
										  name="first_disease_record_time" th:value="${#dates.format(listcour.first_disease_record_time,'yyyy-MM-dd')}"/>
							</div><br /><br />
							<div>
								（一）病例特点
							</div><br /><br />
							病例特点：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="case_trait" th:text="${listcour.case_trait}"></textarea><br /><br />
							病史特点：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="history_characteristics" th:text="${listcour.history_characteristics}"></textarea><br /><br />
							既&nbsp;&nbsp;往&nbsp;&nbsp;史：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="past_medical_history" th:text="${listcour.past_medical_history}"></textarea><br /><br />
							入院体检：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="hospital_medical" th:text="${listcour.hospital_medical}"></textarea><br /><br />
							辅助检查：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="auxiliary_examination" th:text="${listcour.auxiliary_examination}"></textarea>
						</div><br /><br />
						<div>
							（二）诊断、诊断依据及鉴别诊断
						</div><br /><br />
						<div>
							初步诊断：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="primary_diagnosis" th:text="${listcour.primary_diagnosis}"></textarea><br /><br />
							诊断依据：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="diagnostic_basis" th:text="${listcour.diagnostic_basis}"></textarea><br /><br />
							诊断鉴别：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="identify_diagnostic" th:text="${listcour.identify_diagnostic}"></textarea><br /><br />

							支持点：<textarea readonly="true"type="text" class="a " style="width: 150px; height: 35px" name="support_point" th:text="${listcour.support_point}"></textarea>
							不支持点：<textarea readonly="true"type="text" class="a " style="width: 150px; height: 35px" name="not_supported" th:text="${listcour.not_supported}"></textarea>
							结论：<textarea readonly="true"type="text" class="a " style="width: 180px; height: 35px" name="conclusion" th:text="${listcour.conclusion}"></textarea>
						</div><br /><br />
						<div>
							（三）诊疗计划
						</div><br /><br />
						<div>
							诊疗计划：<textarea readonly="true"type="text" class="a " style="width: 585px; height: 35px" name="diagnostic_plan" th:text="${listcour.diagnostic_plan}"></textarea>
						</div><br /><hr/>
						<div></div><br /><br /><br />
					</form>
				</div>
			</div>
			<div class="tab-pane fade" id="tabs-3">
				<div id="leave">
					<br /><br /><br />
					<li style="font-size: 50px;margin-left:200px">出院记录</li><br /><br /><br /><br />
					<form id="disea_four" method="post">
						<div hidden="hidden">
							<input name="keyword" th:value="${listleav.keyword}"/>
							<input name="id"     th:value="${listleav.id}"/>
							<input name="status" th:value="${listleav.status}"/>
							<input name="create_date" th:value="${listleav.create_date}"/>
						</div>
						<div>
							科室：<input readonly="true"type="text" class="a " style="width: 150px;height:30px;" name="department" th:value="${listleav.department}" onkeypress="return handleEnter(this, event)"/>
							床号：<input readonly="true"type="text" class="a " style="width: 150px;height:30px;" name="bed_no" th:value="${listleav.bed_no}" onkeypress="return handleEnter(this, event)"/>
							病案号：<input readonly="true"type="text" class="a " style="width: 150px;height:30px;" name="card_medical" th:value="${listleav.card_medical}" onkeypress="return handleEnter(this, event)"/>
						</div><br /><br />
						<div>
							记录日期：<input readonly="true"class="datainp" id="datebut10" type="text"
										 name="record_date" th:value="${#dates.format(listleav.record_date,'yyyy-MM-dd')}" style="width: 125px;height:30px;"/>
							入院日期：<input class="datainp" id="datebut11" type="text"   readonly="true"
										 name="admission_date" th:value="${#dates.format(listleav.admission_date,'yyyy-MM-dd')}" style="width: 125px;height:30px;"/>
							出院日期：<input class="datainp" id="datebut12" type="text"   readonly="true"
										 name="discharge_date" th:value="${#dates.format(listleav.discharge_date,'yyyy-MM-dd')}" style="width: 125px;height:30px;"/>
						</div><br />
						<div class="textarea_div">
							入院情况：<textarea readonly="true"type="text" class="a " style="width: 510px;height:100px;" name="admitting_situation" th:text="${listleav.admitting_situation}"></textarea>
						</div><br />
						<div class="textarea_div">
							入院诊断：<textarea readonly="true"type="text" class="a " style="width: 510px;height:100px;" name="admitting_diagnosis" th:text="${listleav.admitting_diagnosis}"></textarea>
						</div><br />
						<div class="textarea_div">
							诊疗经过：<textarea readonly="true"type="text" class="a " style="width: 510px;height:100px;" name="treatment_process" th:text="${listleav.treatment_process}"></textarea>
						</div><br />
						<div class="textarea_div">
							出院诊断：<textarea readonly="true"type="text" class="a " style="width: 510px;height:100px;" name="discharge_diagnosis" th:text="${listleav.discharge_diagnosis}"></textarea>
						</div><br />
						<div class="textarea_div">
							出院情况：<textarea readonly="true"type="text" class="a " style="width: 510px;height:100px;" name="discharge_situation" th:text="${listleav.discharge_situation}"></textarea>
						</div><br />
						<div class="textarea_div">
							出院医嘱：<textarea readonly="true"type="text" class="a " style="width: 510px;height:100px;" name="discharge_advice" th:text="${listleav.discharge_advice}"></textarea>
						</div><br />
						<div  style="width: 200px;">
							医师签名：<input readonly="true"type="text" class="a " style="width:100px;height:30px;" name="physician_signature" th:value="${listleav.physician_signature}" onkeypress="return handleEnter(this, event)"/>
						</div><br />
						<div></div>
					</form>
				</div>
			</div>

			<div class="tab-pane fade" id="tabs-4">
				<!--列表展示-->
				<div id="list_room">
					<br /><br /><br />
					<li style="font-size: 50px;margin-left:100px">病程查房记录</li><br /><br /><br /><br />
					<!-- 加遍历方法，遍历以下信息 -->
					<div th:if="${not #lists.isEmpty(listchec)}" th:each="listchec:${listchec}">
						<form  method="post" th:id="${listchec.id}">
							<div hidden="hidden">
								<input name="keyword" th:value="${listchec.keyword}"/>
								<input name="id"     th:value="${listchec.id}"/>
								<input name="status" th:value="${listchec.status}"/>
								<input name="create_date" th:value="${listchec.create_date}"/>
							</div>
							<div>
								查房人：<input readonly="true"type="text" class="a " style="height:30px;width:150px;" name="Patient_rounds_doctor" th:value="${listchec.Patient_rounds_doctor}"onkeypress="return handleEnter(this, event)"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								查房时间：<input class="datainp" id="datebut101" type="text"   readonly="true" style="height:30px;width:150px;"
											 name="Patient_rounds_date"th:value="${#dates.format(listchec.Patient_rounds_date,'yyyy-MM-dd')}"/>
							</div><br />
							<div>
								病案号：<input readonly="true"type="text" class="a " style="height:30px;width:150px;" name="card_medical" th:value="${listchec.card_medical}"onkeypress="return handleEnter(this, event)"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<!--</div><br /><hr/>
								<div>-->
								查房人签名：<input readonly="true"type="text" class="a " style="height:30px;width:150px;" name="doctor_signature" th:value="${listchec.doctor_signature}"onkeypress="return handleEnter(this, event)"/>
							</div><br />
							<div>
								查房记录：<textarea readonly="true"type="text" class="a " style="width: 400px; height: 60px" name="Patient_rounds_details"th:text="${listchec.Patient_rounds_details}"></textarea>
							</div><br />
							<div></div>
						</form>
						<div style="color:#0088cc;font-size: 10px;font-weight: bold;">
							______________________________>>>>>>>>>>>>>>>________________________________
						</div>
						<br /><br />
					</div>
				</div>
				<div id="check_room">

				</div>
			</div>
			<div class="tab-pane fade" id="tabs-5">
				<div id="bing_x">
					<br /><br /><br />
					<li size="9" style="font-size: 50px;margin-left:100px">各种影像检查报告</li><br /><br /><br /><br />
					<!-- 遍历该报告 -->
					<div th:each="video:${listvide}">
						<form th:id="${video.vr_id}" method="post">
							<div hidden="hidden">
								<input name="keyword" th:value="${video.keyword}"/>
								<input name="vr_id"     th:value="${video.vr_id}"/>
								<input name="status" th:value="${video.status}"/>
								<input name="create_time" th:value="${video.create_time}"/>
							</div>
							<div>
								病人ID：<input readonly="true"type="text" class="a " style="width: 150px;height:30px;" name="patientId" th:value="${video.patientId}" onkeypress="return handleEnter(this, event)"/>
								申报单号：<input readonly="true"type="text" class="a " style="width: 150px;height:30px;" name="eclarationd_num" th:value="${video.eclarationd_num}" onkeypress="return handleEnter(this, event)"/>
								报告日期：<input class="datainp" id="datebut13" type="text"   readonly="true"

											name="report_time" th:value="${#dates.format(video.report_time,'yyyy-MM-dd')}" style="width: 150px;height:30px;"/>
							</div><br />
							<div>
								病案号：<input readonly="true"type="text" class="a " style="width: 155px;height:30px;" name="card_medical" th:value="${video.card_medical}" onkeypress="return handleEnter(this, event)"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								科室：<input readonly="true"type="text" class="a " style="width: 155px;height:30px;" name="department" th:value="${video.department}" onkeypress="return handleEnter(this, event)"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								床号：<input readonly="true"type="text" class="a " style="width: 155px;height:30px;" name="bed_no" th:value="${video.bed_no}" onkeypress="return handleEnter(this, event)"/>
							</div><br />
							<div style="width: 400px;">
								检查部位：<input readonly="true"type="text" class="a " style="width: 155px;height:30px;" name="inspection_area" th:value="${video.inspection_area}" onkeypress="return handleEnter(this, event)"/>
							</div><br />
							<div style="width: 700px;">
								影像学所见：<textarea readonly="true"type="text" class="a " style="width: 567px;height: 100px;" name="video_content" th:text="${video.video_content}"></textarea>
							</div><br />
							<div style="width: 700px;">
								影像学意见：<textarea readonly="true"type="text" class="a " style="width: 567px;height: 100px;" name="video_conclusion" th:text="${video.video_conclusion}"></textarea>
							</div> <br />
							<div>
								报告医师：<input readonly="true"type="text" class="a " style="width: 145px;height:30px;" name="reported_doctor" th:value="${video.reported_doctor}" onkeypress="return handleEnter(this, event)"/>
								审核医师：<input readonly="true"type="text" class="a " style="width: 145px;height:30px;" name="check_doctor" th:value="${video.check_doctor}" onkeypress="return handleEnter(this, event)"/>
								终审医师：<input readonly="true"type="text" class="a " style="width: 145px;height:30px;" name="final_check_doctor" th:value="${video.final_check_doctor}" onkeypress="return handleEnter(this, event)"/>
							</div> <br />
							<div style="width: 400px;">
								影像类别：<input readonly="true"name="video_status" th:value="${video.video_status}" class="a " style="width: 250px;height:30px;">

							</input>
							</div><br />
							<div></div>
						</form>
						<div style="color:#0088cc;font-size: 10px;font-weight: bold;">
							____________________________________>>>>>>>>>>>>>>>>>>>>>>>>>>_______________________________________
						</div>
						<br /><br />
					</div>
				</div>
				<div id="bing_insert">
					<!-- 遍历该报告 -->
				</div>
			</div>

			<div class="tab-pane fade" id="tabs-6">
				<div id="bing_ult">
					<br /><br /><br />
					<li style="font-size: 50px;margin-left:100px">超声波检查报告</li><br /><br /><br /><br />
					<!-- 遍历该报告 -->
					<div th:if="${not #lists.isEmpty(listultr)}" th:each="csb:${listultr}">
						<form method="post" th:id="${csb.id}">
							<div hidden="hidden">
								<input name="keyword" th:value="${csb.keyword}"/>
								<input name="id"     th:value="${csb.id}"/>
								<input name="status" th:value="${csb.status}"/>
								<input name="create_date" th:value="${csb.create_date}"/>
							</div>
							<div>
								超声波号：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="ultrasonic_number" th:value="${csb.ultrasonic_number}" onkeypress="return handleEnter(this, event)"/>
								<!--</div><br /><hr/><br /><br />
								<div>-->
								病&nbsp;&nbsp;案&nbsp;&nbsp;号：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px" name="card_medical" th:value="${csb.card_medical}" onkeypress="return handleEnter(this, event)">
							</div><br />
							<div>
								科&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="department" th:value="${csb.department}" onkeypress="return handleEnter(this, event)"/>
								<!--</div><br /><hr/><br /><br />
								<div>-->
								床&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="bed_no" th:value="${csb.bed_no}" onkeypress="return handleEnter(this, event)"/>
							</div><br />
							<div>
								检查设备：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="check_equipment" th:value="${csb.check_equipment}" onkeypress="return handleEnter(this, event)"/>
								<!--</div><br /><hr/><br /><br />
								<div>-->
								检查部位：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="inspection_area" th:value="${csb.inspection_area}" onkeypress="return handleEnter(this, event)"/>
							</div><br /><br />
							<div>
								<p>超声所见：</p><textarea readonly="true"type="text" class="a " style="width: 600px;height: 60px" name="ultrasonic_content" th:text="${csb.ultrasonic_content}"></textarea>
							</div><br /><br />
							<div>
								<p>超声提示：</p><textarea readonly="true"type="text" class="a " style="width: 600px;height: 60px" name="ultrasonic_tip" th:text="${csb.ultrasonic_tip}"></textarea>
							</div><br /><br />
							<div>
								诊断医师：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="diagnosis_doctor" th:value="${csb.diagnosis_doctor}" onkeypress="return handleEnter(this, event)"/>
								<!--</div><br /><hr/><br /><br />
								<div>-->
								会诊医师：<input readonly="true"type="text" class="a " style="width: 100px;height: 30px;margin-right: 50px" name="consultant_doctor" th:value="${csb.consultant_doctor}"  onkeypress="return handleEnter(this, event)"/>
							</div><br /><br />
							<div>
								报告日期：<input class="datainp" id="datebut14" type="text" readonly="true"
											 style="width: 150px;height:30px;" name="report_date" th:value="${#dates.format(csb.report_date,'yyyy-MM-dd')}"/>
								<!-- </div><br /><hr/><br /><br />
								 <div>-->
								打印日期：<input class="datainp" id="datebut15" type="text"   readonly="true"
											 style="width: 150px;height:30px;" th:value="${#dates.format(csb.print_date,'yyyy-MM-dd')}" name="print_date"/>
							</div><br /><br />
							<div></div>
						</form>
						<div style="color:#0088cc;font-size: 10px;font-weight: bold;">
							_________________________________>>>>>>>>>>>>>>>>>>>>>>>>_________________________________
						</div><br /><br />
					</div>
				</div>
				<div id="bing_ultr">
					<!-- 遍历该报告 -->
				</div>

			</div>
			<div class="tab-pane fade" id="tabs-7">
				<div id="bing_tra">
					<br /><br /><br />
					<li style="font-size: 50px;margin-left:0px">经颅多普勒超声检查报告</li><br /><br /><br /><br />
					<form id="disea_five" method="post">
						<div hidden="hidden">
							<input name="keyword" th:value="${listtran.keyword}"/>
							<input name="id"     th:value="${listtran.id}"/>
							<input name="status" th:value="${listtran.status}"/>
							<input name="create_date" th:value="${listtran.create_date}"/>
						</div>

						科室：<input readonly="true"type="text" class="a "  name="department" th:value="${listtran.department}" style="height:30px;width:220px;" onkeypress="return handleEnter(this, event)"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						病案号：<input readonly="true"type="text" class="a "  name="card_medical" th:value="${listtran.card_medical}" style="height:30px;width:220px;" onkeypress="return handleEnter(this, event)"/>
						<div>
							<br />
							<br />
							床号：<input readonly="true"type="text" class="a "  name="bed_no"&nbsp; th:value="${listtran.bed_no}" style="height:30px;width:220px;" onkeypress="return handleEnter(this, event)"/>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							检查号：<input readonly="true"type="text" class="a "  name="check_number" th:value="${listtran.check_number}" style="height:30px;width:218px;" onkeypress="return handleEnter(this, event)"/>
							<br />
							<br />
						</div>
						<div>
							检查时间：<input readonly="true" name="check_time" th:value="${#dates.format(listtran.check_time,'yyyy-MM-dd')}" class="datainp" id="datebut17" type="text"
										 style="height:30px;width:100px;" 	/>
						</div>
						<div>
							<br /><br />
							TCD描述：<textarea readonly="true"type="text" class="a " style="height:100px;width:500px;" name="TCD_content" th:text="${listtran.TCD_content}"></textarea>
						</div><br /><br />
						<div>
							TCD结论：<textarea readonly="true"type="text" class="a " style="height:100px;width:500px;" name="TCD_conclusion" th:text="${listtran.TCD_conclusion}"></textarea>
						</div><br /><br />
						<div>
							医师签名：<input readonly="true"type="text" class="a " style="height:30px;width:240px;" name="physician_signature" th:value="${listtran.physician_signature}"onkeypress="return handleEnter(this, event)"/>
						</div><br /><br />


					</form>
				</div>
			</div>
			<!--导入PDF-->
			<div class="tab-pane fade" id="tabs-8">
				<div id="pdf">
					<br /><br /><br />
					<li style="font-size: 50px;margin-left:200px">完整PDF导入</li><br /><br /><br /><br />
					<form method="post" id="disea_six">
						<div hidden="hidden">
							<input name="keyword" th:value="${listmedi.keyword}"/>
							<input name="id"     th:value="${listmedi.id}"/>
							<input name="status" th:value="${listmedi.status}"/>
							<input name="create_time" th:value="${listmedi.create_time}"/>
						</div>
						<div>
							<!--embed标签定义嵌入的内容，比如插件-->
							<embed width="800" height="1200px" th:if="${not #lists.isEmpty(listmedi.pdf_path)}" th:src="@{'/image_insert'+${listmedi.pdf_path}}" border="0"> </embed>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script>
		$(function () {
			$('#myTab li:eq(0) a').tab('show');
		});
	</script>
	</body>
</html>