<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
<title>Title</title>
</head>
<style>
    a:link {
        font-size: 12px;
        color: #000000;
        text-decoration: none;
    }
    a:visited {
        font-size: 12px;
        color: #000000;
        text-decoration: none;
    }
    a:hover {
        font-size: 12px;
        color: #999999;
        text-decoration: underline;
    }
</style>
<body style="margin-TOP:150PX; background: #87CEEB; text-align: center">

    <li style="font-size:50px">深圳市第四人民医院（福田医院）</li><br /><br /><br />
    <div style="margin-top: 30px; text-align: center" th:if="${user.status} == '0' or ${user.status} == '1' or ${user.status} == '2'">
        <a href="/toChoosecaseKinds"style="text-decoration:none;font-size: 45px;">病历信息录入</a>
    </div>
    <div style="margin-top: 50px" th:if="${user.status} == '0' or ${user.status} == '1' or ${user.status} == '2'">
        <a href="/to_case_audit"style="text-decoration:none;font-size: 45px;">病历信息审核</a>
    </div>
    <div style="margin-top: 50px" th:if="${user.status} == '0' or ${user.status} == '1' or ${user.status} == '2' or ${user.status} == '3'">
        <a href="/to_case_search" style="text-decoration:none;font-size: 45px;">病历信息查询</a>
    </div>
    <div style="margin-top: 50px" th:if="${user.status} == '0' or ${user.status} == '1' or ${user.status} == '2'">
        <a href="/pictrue_mark" style="text-decoration:none;font-size: 45px;">PDF标记系统</a>
    </div>
    <div style="margin-top: 50px" th:if="${user.status} == '0' or ${user.status} == '1' or ${user.status} == '2' or ${user.status} == '3'">
        <a href="/pictrue_list" style="text-decoration:none;font-size: 45px;">PDF查询系统</a>
    </div>
</body>

</html>